@import '../theme/typography';
@import '../theme/colors';

@mixin btn($color) {
  color: font-color($color);  

  &:hover {
    background-color: lighten(color('#{$color}-50'), 3%);
  }

  &:focus {
    background-color: color('#{$color}-50');
    outline: none;
  }

  &:active {
    background-color: color('#{$color}-100');
    outline: none;
  }

  &.raised {
    color: font-color('white');
    background-color: color($color);  

    &:hover, &:focus {
      background-color: color('#{$color}-400');
    }

    &:active {
      background-color: color('#{$color}-300');
    }
  }

  &.outlined {
    border-color: color($color);
  }
}

button, input[type=submit], a.button {
  display: inline-block;
  min-width: 64px;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-family: font('buttons');
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: color('white');

  &.outlined {
    border: 1px solid black;
  }

  &.raised {
    transition: box-shadow 0.2s;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    &:hover, &:focus {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    &:active {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); 
    }
  }

  @include btn('primary');
  @each $col in ('red', 'blue', 'green', 'yellow') {
    &.btn-#{$col} { @include btn($col); }
  };

}
