.form-group {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  .input-field {
    background-color: color('gray-5');
    border: 1px solid color('gray-10');
    border-radius: 4px;
    padding: 10px 30px 9px 22px;

    width: 100%;

    label {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
      display: block;
      outline: none;
      border: none;
      height: 30px;
      width: 100%;
      background: none;
    }

  }

  .submit-field {
    float: right;
  }
}

