table {
  margin-top: 0.5rem;
  border-spacing: 0;
  border-collapse: collapse;
  th {
    text-align: left;
    border-bottom: 1px solid color('gray-30');
  }
  td, th {
    padding: 5px 20px 0px 0px;
    margin: 0;
  }
}
