@import 'colors';

// Font colors
$font-col: (
  'blue': color('blue-600'),
  'green': color('green-800'),
  'yellow': color('yellow-700'),
  'red': color('red'),
  'gray': color('gray-80'),
  'white': color('white'),
  'black': color('black'),
  'accent': color('accent'),
  'primary': color('primary'),
);

@function font-color($key) {
  @return map-get($font-col, $key);
}

$font-col: map-merge($font-col, ('default': font-color('gray')));
$font-col: map-merge($font-col, ('links': font-color('blue')));
$font-col: map-merge($font-col, ('links-hover': darken(font-color('links'), 20%)));
$font-col: map-merge($font-col, ('subtext': color('gray-50')));
$font-col: map-merge($font-col, ('links-dark': color('yellow-300')));
$font-col: map-merge($font-col, ('links-dark-hover': font-color('white')));

// Font families
$fonts: (
  'headers': ('Roboto Condensed', sans-serif),
  'text': 'Roboto',
  'code': 'Roboto Mono',
  'buttons': 'Roboto',
  'display': 'Roboto Light'
);

@function font($key) {
  @return map-get($fonts, $key);
}

$base-font-size: 16px;
